
        .wrap img{ width:100%; display: block;}
        /*鏍煎紡鍖�*/
        html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, span, input, textarea {margin:0;padding:0;}
        body{ font-size:14px;font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif; padding-top:1px; background:#f9f9f9;} 
        li, ol { list-style:none; }
        ins { text-decoration:none; }
        i, em { font-style:normal; }
        a { text-decoration:none;font-family:"Microsoft Yahei"; color:#666;}
        a:hover { cursor:pointer; text-decoration:none;}
        a:active{star:expression(this.onFocus=this.blur());}
        :focus{outline:0;}
        .clear { clear:both; line-height:0px; overflow:hidden; zoom:1; font-size:0px; content:'.';}
        .clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
        img{ padding:0; margin:0;}
        a img { border:none; }
        input,textarea{ border:none;font-family:"Microsoft Yahei"; font-size:13px;}
        h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:14px;}
        /*鎺掔増閫氱敤*/
        .f-mm{ margin-left:auto; margin-right:auto;}/*灞呬腑瀵归綈*/
        .f-fl{ float:left;} /*宸︽诞鍔�*/
        .f-fr{ float:right;} /*鍙虫诞鍔�*/
        .f-tr{ text-align:right;} /*鍙冲榻�*/
        .f-tl{ text-align:left;} /*宸﹀榻�*/
        .f-tc{ text-align:center;} /*涓棿瀵归綈*/
        .f-pr{ position:relative;} /*瀹氫綅*/
        .f-di{ display:inline;}
        /*鏉傞」*/
        .u-co-bt{ border-radius:4px; /*css3鍦嗚*/ width:80px; height:26px; line-height:26px; display: inline-block; vertical-align: middle;  padding-top:1px;}/*鎻愪氦鎸夐挳鏍峰紡*/
        .u-co-bt.z-spe{ width:100%;}
        .u-lico{ width:24px; height:24px; border-radius:4px;  /*css3鍦嗚*/ background:#000; padding:10px;opacity: 0.8; position:relative; left:50%; margin:10px 0 10px -14px; box-shadow:0 0 3px #2d2d2d;}/*绛夊緟杞藉叆*/
        .fs15{font-size:15px;} /*15鍙峰瓧浣�*/
        .fs12{font-size:12px;} /*12鍙峰瓧浣�*/
        .pdr12{ padding-right:12px;} /*鍙宠竟璺�12px*/
        .pl10{ padding-left:10px;} /*宸﹁竟璺�10px*/
        .red { color:#f00; } /*瀛椾綋棰滆壊绾㈣壊*/
        .emptyData{padding-left:10px;line-height:26px; }
        .wrap{ min-width:320px; max-width:640px; margin:0 auto; overflow:hidden; position:relative; background:#fff;} /*缃戠珯棣栭〉瀹藉害*/
        /* -- 椤甸潰鏁翠綋甯冨眬 -- */
        /*澶撮儴寮€濮�*/
        .g-hd { height: 9.67rem; overflow: hidden;}
        .g-hd .tod { height: 2.25rem; background: #0674b1 url("/static/images//tod.jpg") no-repeat 32.2% center; background-size: 1.54rem 1.17rem; font: 1rem Arial; color: #ffffff; text-align: center; line-height: 2.25rem;}
        .g-hd h1 { width: 38.8%; margin: 0 auto; padding-top: 1.29rem;}
        .g-hd .toz { font-size: 1rem; color: #333333; text-align: center; margin-top: 0.5rem;}
        .g-hd .toz span { font-weight: bold; color: #0674b1;}
        .g-hd img{ display:block; width:100%;}
        /*澶撮儴缁撴潫*/
        
        
    

            .m4-title_nav {
                height: 2.7rem;
                line-height: 2.7rem;
                box-sizing: border-box;
                padding: 0 13.5%;
                position: relative;
                background-color:#0674b1;
            }
            
            .m4-title_nav h2 {
                text-align: center;
                color: #fff;
                font-weight: normal;
            }
            
            .m4-goback {
                width: 0.8rem;
                height: 0.8rem;
                border-left: solid 0.1rem #fff;
                border-top: solid 0.1rem #fff;
                overflow: hidden;
                text-indent: -999px;
                display: block;
                top: 1rem;
                position: absolute;
                left: 6.5%;
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                /* IE 9 */
                -moz-transform: rotate(-45deg);
                /* Firefox */
                -webkit-transform: rotate(-45deg);
                /* Safari and Chrome */
                -o-transform: rotate(-45deg);
            }
            
            .m4-t-sear1 {
                width: 2.5rem;
                height: 1.2rem;
                float: right;
                cursor: pointer;
                margin-top: 1rem;
                position: relative;
            }
            
            .m4-t-sear1:after {
                content: "";
                display: block;
                width: 1.2rem;
                height: 1.2rem;
                box-sizing: border-box;
                border: 2px solid #fff;
                border-radius: 100%;
            }
            
            .m4-t-sear1:before {
                content: "";
                display: block;
                width: 2px;
                height: 0.5rem;
                position: absolute;
                bottom: 0;
                left: 1.2rem;
                background: #fff;
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                /* IE 9 */
                -moz-transform: rotate(-45deg);
                /* Firefox */
                -webkit-transform: rotate(-45deg);
                /* Safari and Chrome */
                -o-transform: rotate(-45deg);
                /* Opera */
            }
            
            .m4-title_nav #m4-topclick {
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 1rem;
                right: 0.9rem;
                display: block;
                box-sizing: border-box;
                border-top: 0.15rem solid #fff;
                border-bottom: 0.15rem solid #fff;
                overflow: hidden;
            }
            
            #m4-topclick:after {
                content: "";
                display: block;
                width: 100%;
                height: 0.15rem;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -0.0525rem;
            }
        

            .m4-t-sear2 {
                height: 100%;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: #fff;
                display: none;
                z-index: 22;
            }
            
            .m4-t-sear2-txt {
                height: 4.4rem;
                background: #1d4576;
                margin-bottom: 2.5rem;
                overflow: hidden;
            }
            
            .m4-t-sear2-inp {
                width: 78.12%;
                height: 2.5rem;
                margin: 0.8rem 0 0 1.0rem;
                position: relative;
                box-sizing: border-box;
                border-radius: 1.5rem;
                background: #fff;
                overflow: hidden;
            }
            
            .m4-t-sear2-inp input {
                height: 100%;
                outline: none;
                border:0;
            }
            
            .m4-t-sear2-inp-text {
                width: 100%;
                font-size: 1.4rem;
                padding-left: 1.5rem;
                color: #00d0b1;
                box-sizing: border-box;
                border-radius: 1rem;
                border: 1px solid #d6d7d9;
            }
            
            .m4-t-sear2-inp-but {
                width: 3.2rem;
                border: 0;
                border-left: 1px solid #d6d7d9;
                ;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                background: #ededed;
            }
            
            .m4-t-sear2-inp span {
                width: 3.2rem;
                height: 2.5rem;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }
            
            .m4-t-sear2-inp span:after {
                content: "";
                display: block;
                width: 1.4rem;
                height: 1.4rem;
                box-sizing: border-box;
                border: 2px solid #999;
                position: absolute;
                top: 0.4rem;
                left: 0.6rem;
                border-radius: 100%;
            }
            
            .m4-t-sear2-inp span:before {
                content: "";
                display: block;
                width: 2px;
                height: 0.5rem;
                background: #999;
                position: absolute;
                top: 1.5rem;
                left: 1.7rem;
                z-index: 22;
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                /* IE 9 */
                -moz-transform: rotate(-45deg);
                /* Firefox */
                -webkit-transform: rotate(-45deg);
                /* Safari and Chrome */
                -o-transform: rotate(-45deg);
                /* Opera */
            }
            
            .m4-t-sear2-txt p {
                width: 14%;
                float: right;
                font-size: 1.5rem;
                color: #fff;
                line-height: 4.4rem;
                cursor: pointer;
            }
            
            .m4-t-sear2-txt2 {
                height: 100%;
                background: #fff;
            }
            
            .m4-t-sear2-txt2 h3 {
                width: 93.75%;
                font-size: 1.4rem;
                color: #333;
                line-height: 2.25rem;
                margin: 0 auto 1.5rem;
                border-bottom: 1px solid #d5d6d8;
            }
        

        .m4-crumbs-1 {
            line-height:2.6rem;
            height:3rem;
            color: #575757;
            padding: 1rem 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .m4-crumbs-1 a:nth-child(1){margin-left:0;}
        .m4-crumbs-1 a {
            color: #575757;
            margin: 0 0.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        } 
.m4-crumbs-1 a:nth-last-child(1) {
            color: #575757;
        }
                  .m4-crumbs-1 a.cur{color:#0674b1;}
    

        .m4-nsws-list-content-2{overflow:hidden;}
        .m4-nsws-list-content-2-con{padding: 0 0 2.4rem;display: block;clear: both; overflow:hidden;line-height:2.4rem;}
        .m4-nsws-list-content-2-con a:first-child dl{border: 0;}
        .m4-nsws-list-content-2-con dl{line-height:2.4rem; border-top:1px solid #dbdbdb; padding:1rem 0 1rem;clear: both;display: block;color: #666; overflow:hidden;}
        .m4-nsws-list-content-2-con dt{width: 31.3%;float: left;padding:0rem 4.5% 0rem 0;}
        .m4-nsws-list-content-2-con dt img{width:100%;display: block;
            box-sizing:border-box;
            border:solid 1px #d7d7d7;}
        .m4-nsws-list-content-2-con dd p{height:3.2rem;line-height:1.6rem;overflow:hidden;}
        .m4-nsws-list-content-2-con dd h3{font-weight: bold;line-height: 1.8rem;height:1.8rem;overflow: hidden;color: #000;margin-bottom:0.5rem;}
    

        
        /*搴曢儴寮€濮�*/
        .g-ft { height: 15.92rem; overflow: hidden;}
        .g-ft img{ display:block;width:100%;}
        .f_to { height: 3.13rem; background: #e6e6e6;}
        .f_to a { display: block; float: left; font-size: 1rem; color: #0674b1; line-height: 3.13rem; padding-left: 8%; margin-left: 15%;}
        .f_to a:nth-child(1) { background: url("/static/images//dbt_03.jpg") no-repeat left center; background-size: 1.6rem 1.54rem;}
        .f_to a:nth-child(2) { background: url("/static/images//dbt_05.jpg") no-repeat left center; background-size: 1.6rem 1.54rem;}
        .f_z { height: 6.55rem; text-align: center; font-size: 1.17rem; color: #333333; padding-top: 1.2rem;}
        .f_z span { font-size: 0.67rem; color: #333333; margin-left: 3%;}
        .f_z em { display: block; font-size: 0.92rem; color: #666666; padding-top: 0.8rem; line-height: 1.5rem;}
        .f_z em i { display: block;}
        .social_nav5{height:5.04rem;position:fixed; bottom:0; min-width:320px; max-width:640px; width:100%;  z-index:999; background: url("/static/images//dbb.jpg") no-repeat; background-size: 100% 5.04rem;}
        .social_nav5 li{ width:25%; float:left; position:relative; font-size:0.92rem; text-align:center; color:#3b3b3b; height:5.04rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
        .social_nav5 li em{ width:33%; display:block; margin:0 auto; padding:0.8rem 0 0.4rem 0;}
        .social_nav5 li a{ color:#ffffff;}

        @media screen and (min-width:320px) {
          html { font-size:75%;}
        }
        @media screen and (min-width:360px) {
          html { font-size:87%;}
        }
        @media screen and (min-width:480px) {
          html { font-size:112%;}

        }
        @media screen and (min-width:568px) {
          html { font-size:131%;}

        }
        @media screen and (min-width:639px) {
          html { font-size:150%;}
        }
    
3 min to Spreed