
 
        html{color:#000;background:#FFF; }
        body { color:#666;font:12px/1.231 arial,helvetica,clean,sans-serif,"Microsoft YaHei";} /*网站字体颜色*/
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
        table{border-collapse:collapse;border-spacing:0;}
        fieldset,img{border:0;}
        address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
        del,ins{text-decoration:none;}
        li{list-style:none;}
        caption,th{text-align:left;}
        q:before,q:after{content:'';}
        abbr,acronym{border:0;font-variant:normal;}
        sup{vertical-align:baseline;}
        sub{vertical-align:baseline;} 
        input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
        input,button,textarea,select{*font-size:100%;}
        input,select{vertical-align:middle;}
        body{font:12px/1.231 arial,helvetica,clean,sans-serif;}
        select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
        table{font-size:inherit;font:100%; border-collapse:collapse;}
        pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
 
        .header , .content , .footer { width:1200px; margin:0 auto;  }
        /*头部开始*/
        .head { height: 198px; background: url("/static/images/tob.jpg") repeat-x; font-family: "Microsoft YaHei", serif; overflow: hidden;}
        .tok { height: 138px;}
        .tok h1 { float: left; margin-top: 38px;}
        .tok h1 img { width: 248px; height: 61px;}
        .tok h2 { float: left; margin: 38px 0 0 22px; height: 27px; border-left: 1px solid #0674b1; padding: 25px 0 0 34px; font-size: 20px; color: #333333; font-weight: normal;}
        .tok h2 span { font-weight: bold; color: #0674b1;}
        .tok .tod { float: right; margin-top: 35px;}
        .tok .tod span { display: block; height: 28px; padding-left: 110px; background: url("/static/images/tod.jpg") no-repeat left 0;}
        .tok .tod a { display: block; width: 196px; height: 25px; background: #2ea20c; font-size: 14px; color: #ffffff; text-align: center; line-height: 25px;}
        .tok .tod em { display: block; font: 24px "Latha"; color: #0674b1; line-height: 30px;}
        .nav li { float: left; padding: 0 30px; background: url("/static/images/tox.jpg") no-repeat right center;}
        .nav li a { display: block; font-size: 18px; color: #ffffff; line-height: 58px;}
        .nav li a:hover,.nav li.cur a  { border-bottom: 3px solid #9bc7e0;}
        .nav li:last-child { background: none;}
        /*头部结束*/
    

        .ty-banner-1 {
            overflow: hidden;
            line-height: 0;
            text-align:center;
        }
        .ty-banner-1 img{
            visibility: hidden;
        }
        .ty-banner-1 img.show{
            visibility: visible;
        }
    

    .search { height: 64px; background:#FFF url("/static/images/sex.jpg") no-repeat center bottom; overflow: hidden; font-family: "Microsoft YaHei", serif;}
    .search .sez { float: left; font-size: 14px; color: #333333; line-height: 61px; padding-left: 65px;}
    .search .sez a { margin-right: 10px;}
    .search .sey { float: right; margin-top: 15px;}
    .search .sey input { display: block; float: left; border: 0;}
    .search .sey .sek1 { width: 236px; height: 34px; background: url("/static/images/sek1.jpg") no-repeat; padding-left: 20px;}
    .search .sey .sek2 { width: 111px; height: 34px; background: url("/static/images/sek2.jpg") no-repeat;}
    

        .p12-curmbs-1{font-size: 14px;border-bottom: 1px dashed #dcdcdc;}
        .p12-curmbs-1 b{border-left: 10px solid #2ea20c;font-weight: normal;padding-left: 8px;}
            /*.xnznr-mbx .blk-main{}*/
        .p12-curmbs-1 span{font-family: '宋体';padding: 0 5px;height: 46px;line-height: 46px;}
    

        
        .p14-left-nav-1-tit {
            background: #0674b1;
            height: 80px;                            
        }
        
        .p14-left-nav-1-tit h3 {
            height: 75px;
            font-size: 24px; 
            font-weight: normal;
            line-height: 75px;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding-left: 38px;
        }
        .p14-left-nav-1-tit h3 span{font-size: 14px; text-transform: uppercase;}
         
        
        .p14-left-nav-1-nav-one h3 {
            height: 50px;
            line-height: 50px; 
            background:url(images/p14-icon5.png) no-repeat right center #2ea20c; 
            margin-bottom: 2px;
            
        }
        
        .p14-left-nav-1-nav-one h3 a {
            display: block; 
            font-size: 18px;
            font-weight: normal;
            margin-right: 40px;
            padding-left: 38px; 
            color: #fff;
        }
        
        .p14-left-nav-1-nav-one h3.sidenavcur,.p14-left-nav-1-nav-one h3:hover{
            background: url(images/p14-icon2.png) no-repeat right center #0674b1; 
        }  
        
        .p14-left-nav-1-nav dl{
            padding: 2px 0 4px;
        }
        .p14-left-nav-1-nav dt {
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left: 54px;
            padding-right: 40px; 
            margin-bottom: 1px;
            background: url(images/p14-icon3.png) no-repeat right center #ececec;
            
        }
        
        .p14-left-nav-1-nav dt.sidenavcur,.p14-left-nav-1-nav dt:hover {
            background: url(images/p14-icon4.png) no-repeat right center #ececec;
        }
        .p14-left-nav-1-nav dt.sidenavcur a,.p14-left-nav-1-nav dt:hover a{color: #0674b1; }
        
        .p14-left-nav-1-nav dd{
            border: 1px solid #ececec;                             
            border-bottom:0;     
        }
        .p14-left-nav-1-nav p {
            font-size: 14px;
            line-height: 50px;
            padding-left: 54px;
            padding-right: 40px; 
            border-bottom: 1px solid #ececec; 
            background: #fff;
            position: relative;
        }
        .p14-left-nav-1-nav p em{padding-left:21px; display:block;}  
                          
        /*.p14-left-nav-1-nav p:after{content: ""; width: 3px; height: 3px; border-radius: 100%;background: #666; position: absolute; left: 58px; top: 50%;}*/
        
       
        .p14-left-nav-1-nav p.sidenavcur a,.p14-left-nav-1-nav p a:hover{color:#0674b1;} 
         
        .p14-left-nav-1-nav p.sidenavcur:after ,.p14-left-nav-1-nav p:hover:after  {background: #2ea20c; } 
        
        .p14-left-nav-1-nav a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    

        .contact-z1{height:140px;background:url("images/contact-z1.jpg") no-repeat;color:#333;}
        .contact-z1 p{font-size:20px;height:30px;line-height:30px;padding:45px 0 0 108px;}
        .contact-z1 span{display:block;height:30px;line-height:30px;font-weight:bold;font-size:18px;padding-left:80px;}
    

        .p14-infolist-1-t1 {
            padding: 36px 22px 46px 85px;
            background: #fff;
            border: 1px dashed #cacaca;
            margin-bottom: 20px;
        }
        
        .p14-infolist-1-t1 dt {
            position: relative;
            height: 30px;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        .p14-infolist-1-t1 dt a{color: #333;}
        .p14-infolist-1-t1 dt span {
            display: block;
            width: 60px;
            height: 30px;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 0;
            left: -65px;
            background: #0674b1;
        }
        
        .p14-infolist-1-t1-desc {
            height: 72px;
            font-size: 14px;
            line-height: 24px;
             color: #666;
            overflow: hidden; 
        }
        
        .p14-infolist-1-t1-deta {
            width: 60px;
            float: right;
            padding-left: 20px;
            background: url(images/p14-icon21.png) no-repeat left center;
        }
        
        .p14-infolist-1-t1-deta a {
            display: block;
            color:  #0674b1;
        }
        
        .p14-infolist-1-list dl {
            border: 1px solid #dedede;
            margin-bottom: 15px;
            padding: 22px 50px 22px 22px;
            background: #fff;
            display: inline-block;
            width:824px;
        }
        
        .p14-infolist-1-list dt {
            width: 253px;
            float: left;
            margin-right: 50px;
        }
        
        .p14-infolist-1-list dt img {
            max-width:253px;
            max-height: 189px;
            display: block;
        }
        
        .p14-infolist-1-list dd h4 {
            height: 40px;
            font-weight: normal;
            font-size:18px;
            color: #154c64;
            line-height: 40px;
            margin-bottom: 5px;
        }
        
        .p14-infolist-1-list h4 a {
            display: block;
            color: #4b4a4a;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .p14-infolist-1-list dl:hover h4 a {
            color: #0674b1;
        }
        
        .p14-infolist-1-list-desc {
            max-height: 72px;
            font-size: 14px;
            line-height: 24px;
            color: #797979;
            margin-bottom: 28px;
            overflow: hidden;
        }
        
        .p14-infolist-1-list-deta {
            float: right;
            width: 134px;
            height: 40px;
            display: inline-block;
            border: 1px solid #aaa;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
        }
        
        .p14-infolist-1-list dl:hover .p14-infolist-1-list-deta {
            background: #0674b1;
            border-color: #0674b1;
        }
        
        .p14-infolist-1-list dl:hover .p14-infolist-1-list-deta a {
            color: #fff;
        }
    

        .p12-pagination-1-main{margin: 0 auto;width: 240px;padding:20px 0;height: 30px;}
        .p12-pagination-1 a,.p12-pagination-1 span{display: block;width:28px;height: 26px;line-height: 26px;border: 1px solid #e5e5e5;float: left;text-align: center;margin: 0 2px;background:#fff;}
        .p12-pagination-1 span{border: 1px solid #fff;}
        .p12-pagination-1 .laypage_curr{background:#0674b1;color:#fff;}
        
        .p12-pagination-1 .laypage_first,.p12-pagination-1 .laypage_last{display:none;}
    

        /*底部开始*/
        .foot { height: 320px; background: url("/static/images/dbb.jpg") repeat-x; font-family: "Microsoft YaHei", serif; overflow: hidden;}
        .foot img{display:block;}
        .f_nav { height: 60px; border-bottom: 1px solid #20a4a7;}
        .f_nav a { display: inline-block; font-size: 18px; color: #ffffff; line-height: 60px; padding: 0 20px; background: url("/static/images/dbx.jpg") no-repeat right center;}
        .f_nav a:last-child { background: none;}
        .f_k { height: 217px;}
        .f_k h1 { float: left; margin: 70px 0 0 25px; font-size: 26px; color: #333333; font-weight: normal; text-align: center; padding-right: 46px; background: url("/static/images/dbx1.jpg") no-repeat right center;}
        .f_k h1 a { color: #333333;}
        .f_k h1 img { width: 351px; height: 41px; margin-bottom: 5px;}
        .f_k h1 p { font-size: 16px; color: #333333; margin-top: 5px;}
        .f_k h1 p span { margin-left: 20px;}
        .f_k h2 { float: left; margin: 65px 0 0 40px; padding-right: 50px; font-size: 16px; color: #333333; line-height: 35px; font-weight: normal; background: url("/static/images/dbx1.jpg") no-repeat right center;}
        .f_k .f_w { float: right; margin-top: 47px;}
        .f_k .f_w em { display: block; float: left; margin-right: 40px; text-align: center; font-size: 14px; color: #666666;}
        .f_k .f_w em img { margin-bottom: 10px;width:120px;}
        .yq { font-size: 12px; color: #bbbbbb; line-height: 42px; padding-left: 30px;}
        .yq a { color: #bbbbbb; margin-left: 10px;}
        /*底部结束*/
    

        .client-2 {
            position: fixed;
            right: 0px;
            top: 50%;
            z-index: 9999;
        } 
.client-2 ul {
            width: 77px;
        } 
.client-2 li a {
            text-decoration: none;
        } 
.client-2 li {
            background: #0674b1;
            margin-top: 1px;
            padding: 9px 0;
            height: 56px;
            width: 77px;
        } 
.client-2 li i {
            background: url(images/fx.png) no-repeat;
            display: block;
            width: 30px;
            height: 27px;
            margin: 0px auto;
            text-align: center;
        } 
.client-2 li p {
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            color: #fff;
        } 
.client-2 .my-kefu-qq i {
            background-position: 4px 5px;
        } 
.client-2 .my-kefu-tel i {
            background-position: 0 -21px;
        } 
.client-2 .my-kefu-liuyan i {
            background-position: 4px -53px;
        } 
.client-2 .my-kefu-weixin i {
            background-position: -34px 4px;
        } 
.client-2 .my-kefu-weibo i {
            background-position: -30px -22px;
        } 
.client-2 .my-kefu-ftop {
            display: none;
            background-color:#0674b1;
        } 
.client-2 .my-kefu-ftop i {
            width: 33px;
            height: 35px;
            background-position: -27px -51px;
        } 
.client-2 .my-kefu-left {
            float: left;
            width: 77px;
            height: 47px;
            position: relative;
        } 
.client-2 .my-kefu-tel-right {
            font-size: 20px;
            color: #fff;
            float: left;
            height: 24px;
            line-height: 22px;
            padding-left: 15px;
            border-left: 1px solid #fff;
            margin-top: 8px;
        } 
.client-2 .my-kefu-right {
            width: 20px;
        } 
.client-2 .my-kefu-tel-main {
            color: #fff;
            margin-top: 9px;
            height: 47px;
            width: 247px;
        } 
.client-2 .my-kefu-main {
            width: 97px;
            position: relative;
        } 
.client-2 .my-kefu-weixin-pic {
            position: absolute;
            left: -130px;
            top: -24px;
            display: none;
            z-index: 333;
        }
        .my-kefu-weixin-pic img{width:115px;height:115px;}
    
