@charset "utf-8";

.hadv { position:relative; width:100%; text-align:center; height:429px;padding: 55px 0px; }
.hadv .hd{margin-bottom: 35px;}
.hadv .hd h2{color: #1f364b; font-size: 36px; font-weight: normal;}
.hadv .hd .txt { padding-top: 15px; font-size: 12px; color: #8098aa;}
.hadv .bd { position: absolute;  left: 50%; margin-left: -960px; width:1920px; height:429px; z-index:-1; }
.hadv ul { padding: 88px 0 0; height: 256px; }
.hadv ul li { display: inline-block; width: 256px; height: 256px; margin: 0 60px; border-radius: 256px; background:rgba(255,255,255,.93); text-align: center; }
.hadv ul li a { display: block; width: 100%; padding: 66px 0 0; color: #4c6a7f; font-size: 20px; font-weight: bold;  }
.hadv ul li a i { display: block; height: 90px; }
.hadv ul li a .i1 { background: url("../images/hadv_1.png") no-repeat center top; }
.hadv ul li a .i2 { background: url("../images/hadv_2.png") no-repeat center top; }
.hadv ul li a .i3 { background: url("../images/hadv_3.png") no-repeat center top; }

.hadv ul li:hover { background: #0972c8; transition: background 0.3s ease 0s; }
.hadv ul li:hover a { color: #fff; }
.hadv ul li:hover a .i1 {  background: url("../images/hadv_01.png") no-repeat center top;}
.hadv ul li:hover a .i2 {  background: url("../images/hadv_02.png") no-repeat center top;}
.hadv ul li:hover a .i3 {  background: url("../images/hadv_03.png") no-repeat center top;}

.product { background:#f5f7f9 url("../images/product.jpg") repeat-x top;}
.product .pro-tit { height: 115px; }
.product .pro-tit ul li { float: left; width: 171px; height: 112px; border-bottom: 3px solid transparent; text-align: center; }
.product .pro-tit ul li a { display: block; width: 100%; padding-top: 12px; font-size: 14px; color: #4c6a7f; }
.product .pro-tit ul li.on { background: #f5f7f9; border-color: #0066c3; transition: background 0.3s ease 0s; }
.product .pro-tit ul li.on a { color: #0162b3;  }
.product .pro-tit ul li a i { display: block; height: 65px; }
.product .pro-tit ul li a .i1 { background: url("../images/kind_1.png") no-repeat center center; }
.product .pro-tit ul li a .i2 { background: url("../images/kind_2.png") no-repeat center center; }
.product .pro-tit ul li a .i3 { background: url("../images/kind_3.png") no-repeat center center; }
.product .pro-tit ul li a .i4 { background: url("../images/kind_4.png") no-repeat center center; }
.product .pro-tit ul li a .i5 { background: url("../images/kind_5.png") no-repeat center center; }
.product .pro-tit ul li a .i6 { background: url("../images/kind_6.png") no-repeat center center; }
.product .pro-tit ul li a .i7 { background: url("../images/kind_7.png") no-repeat center center; }

.product .pro-tit ul li.on a .i1 { background: url("../images/kind_01.png") no-repeat center center; }
.product .pro-tit ul li.on a .i2 { background: url("../images/kind_02.png") no-repeat center center; }
.product .pro-tit ul li.on a .i3 { background: url("../images/kind_03.png") no-repeat center center; }
.product .pro-tit ul li.on a .i4 { background: url("../images/kind_04.png") no-repeat center center; }
.product .pro-tit ul li.on a .i5 { background: url("../images/kind_05.png") no-repeat center center; }
.product .pro-tit ul li.on a .i6 { background: url("../images/kind_06.png") no-repeat center center; }
.product .pro-tit ul li.on a .i7 { background: url("../images/kind_07.png") no-repeat center center; }

.pro-con { position: relative; margin-top: 45px; }
.pro-con .hyh { position: absolute; top:-30px; right: 5px; width: 60px; padding-left: 20px; background: url("../images/flush.png") no-repeat; }
.pro-con .hyh a { color: #4c6a7f; font-size: 12px; }
.pro-con .pro-big { position: relative; float: left; width: 602px; height: 417px; text-align: center; }
.pro-con .pro-big .bd { width: 601px; height: 417px; }
.pro-con .pro-big .bd li{width:601; height:417px; background:#fff;}
.pro-con .pro-big .bd li .p{float:left; width:300px; padding-top:50px;}
.pro-con .pro-big .bd li .t{float:left; padding:110px 0 0 10px; width:290px; text-align:left;}
.pro-con .pro-big .bd li h2{ font-weight:100; font-size:30px; line-height:46px;}
.pro-con .pro-big .bd li h2 a, .pro-con .pro-big .bd li h2 a:hover{color:#333;}
.pro-con .pro-big .bd li span a{color:#666;}
.pro-con .pro-big .bd li .m{width:90px; line-height:24px; background:#0162B3; border-radius:5px; font-size:12px; text-align:center; margin-top:40px;}
.pro-con .pro-big .bd li .m a, .pro-con .pro-big .bd li .m a:hover{color:#fff; display:block; position:relative; padding-left:8px;}
.pro-con .pro-big .bd li .m a:before{ position: absolute; content: ""; left:14px; bottom:7px; border:3px solid transparent;  border-width:5px 7px;  border-left-color:#fff;  background:transparent;  z-index: 4;  }
.pro-con .pro-big .hd { position: absolute; width: 100%; bottom: 22px; }
.pro-con .pro-big .hd ul li { margin: 0 6px; display: inline-block; width: 10px; height: 10px; border-radius: 10px; background: #dbe1e7; text-indent:999em;}
.pro-con .pro-big .hd ul li.on { width: 33px; background: #0066c3; transition: background 0.3s ease 0s; cursor: pointer; }

.pro-con .pro-item { float: right; width: 592px; }
.pro-con .pro-item ul li { position: relative; float: left; margin:0 0 5px 5px; width: 290px; height: 206px; background: #fff; text-align: center; }
.pro-con .pro-item ul li .list-pic { width: 100%; text-align: center; height: 165px; }
.pro-con .pro-item ul li .name { height: 35px; color: #4c6a7f; line-height: 35px; font-size: 14px; }
.pro-con .pro-item ul li .gray { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(1,98,179,.92); transform: scale(0); opacity: 0; }
.pro-con .pro-item ul li .gray a { display: block; padding: 43px 0 0; color: #fff; }
.pro-con .pro-item ul li .gray a .name { font-size: 30px; color: #fff;  }
.pro-con .pro-item ul li .gray a .txt { padding:8px 0 45px 0; font-size: 12px; background: url("../images/hover_icon.png") no-repeat center bottom;   }
.pro-con .pro-item ul li:hover .gray{ opacity: 1; transform: scale(1); transition: all 0.3s ease 0s;}

.product .more { width: 136px; height: 68px; margin: 43px auto 0; background: url("../images/more.jpg") no-repeat; text-align: center;  }
.product .more a { display: block; padding-top: 32px; color: #4c6a7f; }

.about { border-bottom: 1px solid #f5f7f9; margin-bottom: 96px; padding:55px 0 0; }
.about .hd { text-align: center; }
.about .hd h2 {  color: #1f364b; font-size: 36px; font-weight: normal; }
.about .hd .txt { padding-top: 15px; font-size: 12px; color: #8098aa; }
.about .about-con { padding: 35px 0 0 0; }
.about .about-con .intropic { float: left; width: 604px; height: 346px; }
.about .about-con .intro { float: left; width: 534px; padding: 36px 31px 0; height: 310px; background: #f5f7f9; }
.about .about-con .intro h2 { height: 40px; font-size: 18px; }
.about .about-con .intro h2 a { color: #4c6a7f; }
.about .about-con .intro .txt { height: 90px; font-size: 12px; line-height: 24px; color: #4c6a7f; }
.about .about-con ul li { float: left; width: 95px; height: 95px; background: #fff; font-size: 20px; border-radius: 95px; margin:0 24px 20px 0; text-align: center; }
.about .about-con ul li span { display: block; padding: 20px 0 0; }
.about .about-con ul li:hover { background: #0066c3; color: #fff; transition: background 0.3s ease 0s; }
.about .about-con .more2 { width: 91px; height: 23px; }

.about-item { position: relative; width:1200px; bottom:-42px;}
.about-item .tempWrap {width:1200px !important;}
.about-item ul li { position: relative; float: left; width: 284px; margin:0 21px 0 0; background: url("../images/about-item.jpg") no-repeat;  }
.about-item ul li .list-txt { padding: 12px 9px 0; height:90px; line-height: 22px; color: #4c6a7f; font-size: 12px; }
.about-item ul li .time {width: 96%; text-align:center; padding-top:15px;}
.about-item ul li .time p { padding-top: 10px; color: #0066c3; font-size:13px;}

.about-item .aPrev,.about-item .aNext { position: absolute; bottom: 31px; cursor:pointer;}
.about-item .aPrev { left: -70px; }
.about-item .aNext { right: -70px; }

.news { position: relative; width:1200px; margin:0 auto;}
.news .tempWrap{width:1200px !important;}
.news .news-item { float:left; width: 380px; height: 487px; margin-right: 29px; background: #f5f7f9; }
.news .news-item .pic { width: 380px; height: 245px; }
.news .news-item dl { padding:20px; }
.news .news-item dt { height: 78px; }
.news .news-item dt a { line-height: 30px; color: #14283b; }
.news .news-item dd { height: 92px; line-height: 24px; font-size: 14px; }
.news .news-item .info { height: 20px; font-size: 12px; }
.news .news-item .info span { padding-right: 10px;}
.news .news-item .info span em { padding-left: 5px; vertical-align: middle; }

.news .aPrev,.news .aNext { position:absolute; top:182px; cursor:pointer;}
.news .aPrev { left:-100px; }
.news .aNext { right:-100px; }
.news .news-quan { text-align: center; padding: 35px 0; }
.news .news-quan ul li { display: inline-block; margin: 0 6px; width: 8px; height: 8px; border-radius: 8px; background: #7995a7;  cursor: pointer; text-indent:999em;}
.news .news-quan ul li:hover,.news .news-quan ul li.on { background: #0d50aa;  }

.case { background: #f5f7f9; }
.case .hd h2 { height: 65px; padding-top: 50px; color: #1f364b; font-size: 36px; font-weight: normal; text-align: center; }
.case .case-tit { text-align: center; padding-bottom: 28px; }
.case .case-tit ul li { display: inline-block; padding: 0 7px 0 20px; background: url("../images/case_line.jpg") no-repeat left center; line-height: 25px; text-align: center; }
.case .case-tit ul li em{ display: block; border-bottom: 2px solid transparent; height: 26px; color: #4c6a7f; padding: 0 7px; font-size: 14px; cursor:pointer;}
.case .case-tit ul li.on em{ color:#0066c3; border-bottom: 2px solid #0066c3; }

.case .case-con { background: #fff; width:1200px;}
.case .case-con .tempWrap{width:1200px !important;}
.case .case-con ul li { float: left; border-right: 1px solid #f5f7f9; text-align: center; }

.case .case-quan { text-align: center; padding: 30px 0; }
.case .case-quan ul li { display: inline-block; margin: 0 6px; width: 8px; height: 8px; border-radius: 8px; background: #7995a7; cursor: pointer; text-indent:999em;}
.case .case-quan ul li.on { background: #0d50aa;}









